* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.click_bar {
  display: none;
}

.click_bar_img {
  width: 35px;
  height: 35px;
}

.nav_bar_main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 80px;
  /* border: 1.5px solid rgb(250, 70, 22); */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo_nav_task2_logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 1%; */
  width: 15vw;
}

.logo_nav_task2_img {
  width: 160px;
  height: 50px;
}

.list-inline {
  display: flex;
  flex-direction: column;
  /* width: max-content; */
  height: fit-content;
  /* justify-content: space-around; */
  /* border: 1px solid black; */
  margin: 5%;
}

.list-inline p {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  width: max-content;

  color: blue;
  font-weight: bolder;
}

.list-inline a {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  /* width: max-content; */

  color: black;
  font-weight: 350;
  margin: 3%;
}

.nav_toggle_links {
  text-decoration: none;
  list-style-type: none;
  font-size: small;
  transition: all 0.8s;
}

.nav_toggle_links:hover {
  /* display: block; */
  color: rgb(34, 34, 255);
}

.li {
  text-decoration: none;
  list-style-type: none;
}

.dropdown-toggle {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  width: max-content;
  height: fit-content;
  /* height: fit-content; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 6%; */
  transition: all 1s;
}

.dropdown-toggle:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.shop_nav_main_box_drop_down {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 109px;
  left: 50px;

  /* left: 0px; */

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30vw;
  height: 100%;
  /* padding: 2%; */
  background-color: white;
  border: 30px;
  border-radius: 20px;
}

.mobile_nav_main_box_drop_down {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 109px;
  left: 300px;

  /* left: 0px; */

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 45vw;
  height: 100%;
  /* padding: 2%; */
  background-color: white;
  border: 30px;
  border-radius: 20px;
}

.nav_tv_Av_main_box {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 109px;
  left: 50px;
  right: 50px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 95vw;
  height: max-content;
  padding: 2%;
  background-color: white;
  border: 30px;
  border-radius: 20px;
}

.Home_appliances_nav_main_box_drop_down {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 109px;
  left: 50px;
  right: 50px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 95vw;
  height: max-content;
  padding: 2%;
  background-color: white;
  /* border: 30px; */
  border-radius: 20px;
}

.laptops_and_monitors_nav_main_box_drop_down {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 109px;
  left: 50px;
  right: 50px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 95vw;
  height: max-content;
  padding: 2%;
  background-color: white;
  border: 30px;
  border-radius: 20px;
}

.Display_nav_main_box_drop_down {
  position: fixed;
}

.support_nav_drop_down {
  position: fixed;
}

.nav_links1_samsung {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55vw;
  align-items: center;
  /* border: 1.5px solid rgb(13, 201, 54); */
}

.nav_link2_samsung {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
  align-items: center;
  /* border: 1.5px solid rgb(173, 201, 13); */
}

.nav_icons_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  /* border: 1.5px solid rgb(201, 13, 154); */
}

.nav_icons_img {
  width: 15px;
  height: 20px;
}

.nav_mobile_link_cantainer {
  display: grid;

  width: max-content;
  height: 100%;

  /* background-color: red; */
  /* border: 5px solid rgb(17, 1, 1); */

  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 180px 180px 180px 100px;
  row-gap: 2%;
  column-gap: 1%;
  /* display: flex; */
  justify-content: center;
  align-items: center;

  padding: 1%;
}

.nav_mobile_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 165px;
  /* border: 1px solid rgb(17, 1, 1); */
  background: rgb(248, 248, 248);
  border-radius: 15px;
}

.nav_mobile_items_img {
  width: 110px;
  height: 105px;
  transition: all 0.8s;
}

.nav_mobile_items_img:hover {
  transform: scale(0.8);
}

.nav_mobile_items_taxt {
  margin-top: 1%;
  font-size: small !important;
  color: black !important;
}

.samsung_baneer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* margin-top: 3%; */
}

.mySlides {
  width: 90vw;
  height: 500px;
}

.samsung_video_container {
  width: 100vw;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: black; */
}

.samsung_banner_video {
  width: 99vw;
}
